<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<br />
  <% end %>
  
  <% unless @user.password_required? %>
  	<div class="" style="">
  		You're almost there. We just need an email address from you.
	</div>
  <% end %>
 
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :type => "email", :placeholder => "me@email.com" %>
  </div>
  
  <% if @user.password_required? %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :placeholder => "Your First Name" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :placeholder => "Your Last Name" %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
    <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <% end %>
  
  <div class="actions">
  	<br />
    <%= f.submit :value => "Sign Up", :class => "button" %>
  </div>
<% end %>
