<h1><%= @event.name %></h1>
<%= @event.start_date.strftime('%B %d, %Y %I:%M %p') %> to <%= @event.end_date.strftime('%B %d, %Y %I:%M %p') %>

<h4>Summary</h4>
<%= @event.summary %>

<%= render :partial => 'address', :locals => { :location => @event.location } %>

<% if @event.summary %>
	<h4>Additional</h4>
	<%= @event.additional %>
<% end %>

<% if @event.organization %>
	<h4>About this Organization</h4>
	<%= link_to @event.organization.name, @event.organization %>
<% end %>

<% if current_user?(@event.users.first) %>
<h4>Admin</h4>
You are the owner of this page. <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>

<% content_for :sidebar do %>
	<div id="map" style="float:right;width:200px;height:200px;"></div>
<% end %> 

<% content_for :more_scripts do %>
	<script src="http://maps.google.com/maps?file=api&amp;v=3&amp;sensor=true&amp;key=ABQIAAAAEOHf4WI9-N6OmIfoWkVxPRTOaKyFpP-kQ50TdtmwGFAu2bterRROoaMznF3IHavMx8ZNwkvY9JGbIg" type="text/javascript"></script>
	<%= javascript_include_tag "events/show" %>
<% end %>
