<%= form_for [@event, @shift] do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :cols => 50, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :start %>
    <%= f.time_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %>
    <%= f.time_select :end %>
  </div>
  <div class="field">
    <%= f.label :volunteer_count %>
    <%= f.text_field :volunteer_count, :size => 2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
