<p>
  <b>Title:</b>
  <%= @shift.title %>
</p>

<p>
  <b>Description:</b>
  <%= @shift.description %>
</p>

<p>
  <b>Start:</b>
  <%= @shift.start %>
</p>

<p>
  <b>End:</b>
  <%= @shift.end %>
</p>

<p>
  <b>Event:</b>
  <%= @shift.event_id %>
</p>

<p>
  <b>Volunteer count:</b>
  <%= @shift.volunteer_count %>
</p>


<%= link_to 'Edit', edit_event_shift_path(@event, @shift) %> |
<%= link_to 'Back', event_shifts_path(@event) %>
