<h1>Welcome to Generic Volunteer Management Site</h1>
<p>Create a page for volunteers to sign up and keep them in the loop!</p>
<% if signed_in? %>
	<p><%= link_to "Manage My Events", events_path, :class => "button" %></p>
<% else %>
	<p><%= link_to "Get Started Now", authentications_path, :class => "button" %></p>
<% end %>

<% content_for :sidebar do %>
    <h2>New Events</h2>
	<% for event in @events %>
		<%= link_to event.name, event %><br />
	<% end %>
	<br />
	<h2>New Organzations</h2>
	<% for organization in @organizations %>
		<%= link_to organization.name, organization %><br />
	<% end %>
<% end %>

<% content_for :more_scripts do %>
	<%= javascript_include_tag "pages/home" %>
<% end %>
