<h4>Contact</h4>
<div class="vcard">
 <div class="adr">
  <div class="fn org"><%= @organization.name %></div>
  <% if location.address1.present? %>
  <div class="street-address"><%= location.street_address %></div>
  <% end %>
  <% if location.city.present? %><span class="locality"><%= location.city %></span>, <% end %>
  <% if location.state.present? %><span class="region"><%= location.state %></span><% end %> 
  <% if location.postal_code.present? %><span class="postal-code"><%= location.postal_code %></span><% end %>
</div>
  <% if location.phone_number.present? %>
  	<div class="tel">Phone: <%= location.phone_number %></div>
  <% end %>
  <% if @organization.website.present? %>
  	Website: <%= link_to @organization.website, @organization.website, :class => "fn org url", :target => "_blank" %>
  <% end %>
  
  <div class="geo" style="display:none;" id="geocode"> 
	 <span class="latitude"><%= location.latitude %></span>, 
	 <span class="longitude"><%= location.longitude %></span>
  </div>
</div>