<p>
  <b>Viewing Location:</b>
  <%= @location.name %>
</p>
<p>
  <b>Address1:</b>
  <%= @location.address1 %>
</p>
<p>
  <b>Address2:</b>
  <%= @location.address2 %>
</p>
<p>
  <b>City:</b>
  <%= @location.city %>
</p>
<p>
  <b>State:</b>
  <%= @location.state %>
</p>
<p>
  <b>Postal code:</b>
  <%= @location.postal_code %>
</p>
<p>
  <b>Phone number:</b>
  <%= @location.phone_number %>
</p>
<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>
<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>



<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back to My Locations', locations_path %>


